<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="./favicon.png" />
	<meta name="viewport" content="width=device-width" />
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<meta http-equiv="content-security-policy" content="">
		<link href="./_app/immutable/assets/_layout-f26112b6.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/start-cf72b209.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index-ac87a35a.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/singletons-dbedea1d.js">
		<link rel="modulepreload" href="./_app/immutable/components/pages/_layout.svelte-191cbdd7.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/stores-a59e3a9c.js">
		<link rel="modulepreload" href="./_app/immutable/modules/pages/_layout.js-9cbb603b.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="./_app/immutable/components/pages/_page.svelte-1ecf9cfd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/action-091f4336.js">
</head>

<body>
	<div>




<div class="bg-sidebar w-56 h-screen fixed overflow-auto"><div class="inline-flex justify-center py-5 w-full"><img class="w-8 h-8" src="/images/logo.png" alt="">
		<h1 class="ml-3 text-text-logo text-xl">Poly-Visor</h1></div>
	<ul class="pt-5"><li class="text-center"><a href="/" class="text-white text-sm py-5 pr-8 justify-center flex hover:bg-gray-600 bg-gray-600"><img class="mr-2 w-5 h-5" src="/images/graph.png" alt="">
				<p>Overview</p></a></li>
		<li><a href="/processes" class="text-white text-sm pr-8 justify-center py-5 flex hover:bg-gray-600 bg-sidebar"><img class="mr-2 w-5 h-5" src="/images/process.png" alt="">Processes</a></li></ul>
	<div class="h-px bg-gray-600 mt-48"></div>
	<div><a href="" class="text-white justify-center pr-14 text-sm py-5 flex hover:bg-gray-600 bg-sidebar}"><img class="mr-2 w-5 h-5" src="/images/setting.png" alt="">Setting</a></div></div>
<div class="pl-56"><div class="w-full h-screen px-10 space-y-5"><h1 class="text-2xl font-semibold pt-5">Overview</h1>
	<div class="space-y-5 h-3/4"><div class="flex flex-row space-x-5"><button class="hover:text-2xl border-2 bg-white w-full h-32 rounded-md text-[#FF8C32]"><h1 class="text-xl">Cpu Usage</h1>
	<h4>undefined%</h4></button>
			<button class="hover:text-2xl border-2 bg-white w-full h-32 rounded-md undefined"><h1 class="text-xl">Ram Usage</h1>
	<h4>undefined%</h4></button>
			<button class="hover:text-2xl border-2 bg-white w-full h-32 rounded-md undefined"><h1 class="text-xl">Number of cores</h1>
	<h4>0</h4></button>
			<a class="w-full" href="/processes"><button class="hover:text-2xl border-2 bg-white w-full h-32 rounded-md null"><h1 class="text-xl">Running processes</h1>
	<h4>0/0</h4></button></a></div>
		<div class="h-full flex justify-center"><div class="w-3/4 h-3/4 relative border-2 bg-white rounded-md flex justify-center"><canvas class="p-2" id="myChart"></canvas></div></div></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="n26z0n">
			import { start } from "./_app/immutable/start-cf72b209.js";

			start({
				env: {},
				paths: {"base":"","assets":""},
				target: document.querySelector('[data-sveltekit-hydrate="n26z0n"]').parentNode,
				version: "1675303427459",
				hydrate: {
					node_ids: [0, 2],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
</body>

</html>